
	<div class="container">



		<div class="col-sm-8 gonna-put-it-on-top">
				<h1 style="color: #000000; font-family: helvetica;"><%= @track.title %></h1>
				<hr>
					<div class="audio-around box-shadow--2dp">
					<audio controls class="audio-widget" preload="metadata">
					  <source src="<%= @track.track %>" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio>

					<div class="song-content">
						<div class="row">
							<div class="col-sm-10">
					<h4 style="color: #000000; font-family: helvetica;"><em><%= @track.description %></em></h4>
							</div> <!-- col-sm-8 -->

							<div class="col-sm-2">
								<div class="song-btns">

									<% if current_user.voted_for? @track %>
									<span data-id="<%= @track.id %>">
									<i class="fa fa-heart js-unlike-track" style="color: #880000" data-id="<%= @track.id %>" data-user-id="<%= current_user.id %>"></i>
								</span>
									<% else %>
									<span data-id="<%= @track.id %>">
									<i class="fa fa-heart-o js-like-track" data-id="<%= @track.id %>" data-user-id="<%= current_user.id %>"></i>
									</span>
									
								<% end %>
								
								<i class="fa fa-share song-btn-space"></i>

								<i class="fa fa-tags song-btn-space"></i>

								</div> <!-- song-btns -->
							</div> <!-- col-sm-4 -->
						</div> <!-- row -->

					</div><!-- song content -->
					</div><!-- audio-around -->
					<br><br>
				
			</div> <!-- col-sm-8 -->



	</div> <!-- container -->
