<html>
<head>

</head>

<style type="text/css">

body {
	background-color: #FFFFFF;
}

p, div {
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

.left-info-border {
	border-left-style: solid;
	border-width: 2px;
	padding-left: 10px;
	border-color: #660000;
}

.overeverything {
	position: fixed;
	z-index: 20;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: lightgray;
	padding: 10px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.avatar-border {
	border-style: solid;
	border-width: 1px;
	padding: 0px;
	padding: 3px;
	width: 96%;
	background-color: lightgray;
	border-color: darkgray;
}

@media only screen and (max-width: 1199px) {
.overeverything {
        display: none;
}

}

.audio-around {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	padding-left: 0px;
	padding-top: 0px;
	height: 125px;
	background-color: #F7F7FF;
	background-image: url('../assets/black-gradient.jpg');
	background-size: 100% 100%;
	
}

.audio-widget {
	width: 100%;
	background-color: #000000;

}

.song-content {
	padding-left: 20px;
	color: white;
}

.follow-btn {
	margin-right: 75px;
	float: right;
}

.stats {
	font-size: 17px;
}

.follower-name {
	font-size: 20px;

}

</style>

<script>

$("audio").on("play", function(){
    var _this = $(this);
    $("audio").each(function(i,el){
        if(!$(el).is(_this))
            $(el).get(0).pause();
    });
});


$(document).on('ready', function() {
$("audio").on("play", function(){
    var _this = $(this);
    $("audio").each(function(i,el){
        if(!$(el).is(_this))
            $(el).get(0).pause();
    });
});
});

// This is here twice because in the rails app, switching from one page 
// to another doesn't execute the document ready properly...
</script>




<body>
	<div class="container">
<!-- DYNAMIC PROFILE -->
		<div class="row">
			<div class="col-lg-2">	
				<div class="avatar-border">	
					
					<%= image_tag @user.avatar_url, :width => '150', :height => '150' %>
					
				</div>

			</div> <!-- col-lg-2 -->

			<div class="col-lg-7">

				<div class="left-info-border">
				<h3><%= @user.first_name %> <%= @user.last_name %></h3>

				<h5><i class="fa fa-bullseye"></i> <%= @zipcode[:city] %>, <%= @zipcode[:state_code] %></h5>
				</div> <!-- left-info-border -->

				<section class="stats">
      			<%= render 'layouts/stats' %>
   				</section>

				<i class="fa fa-heart-o fav-genre-up"></i><a href="#"><span>  Favorite genre</span></a><br>

				<i class="fa fa-tags"></i> <span>Total Tags | <a href="#"><%= @randtags %></a></span>
				<% if current_user.id != @user.id %>
				<%= render 'follow_form' if current_user %>
				<% end %>

				<hr style="border-color: darkgray; width: 120%; margin-left: -30%;">



			</div> <!-- col-lg-4 -->


				<!-- =========== FIXED SIDE BAR =========== -->
			<div class="col-lg-3">
				<div class="overeverything box-shadow--4dp">
					<h3 style="text-align: center;">Recent Tags</h3>
					<hr style="width: 225px; border-color: darkgray;">
					
				</div> <!-- over everything -->
			</div> <!-- col-lg-3 -->
		</div> <!-- row -->

				<!-- =========== FIXED SIDE BAR =========== -->


		<div class="row">
			<div class="col-sm-8">
					<% @tracks.each do |x| %>
					<div class="audio-around box-shadow--2dp">
					<audio controls class="audio-widget">
					  <source src="<%= x.track %>" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio>

					<div class="song-content">

					<h4 style="color: white; font-family: helvetica;"><%= x.title %></h4>
					<h6 style="color: white; font-family: helvetica;"><em><%= x.description %></em></h6>
					
					</div><!-- song content -->
					</div><!-- audio-around -->
					<br><br>
					<% end %>
			</div> <!-- col-sm-8 -->
				
		</div> <!-- row -->
	</div> <!-- container -->

	<!-- FOLLOWERS MODAL -->

	<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Followers</b></h4>
      </div>
      <div class="modal-body js-followers-modal">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<!-- FOLLOWERS MODAL -->


	<div id="following-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Followers</b></h4>
      </div>
      <div class="modal-body js-following-modal">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- FOLLOWING MODAL -->



</body>
</html>