<html>
<head>

</head>

<style type="text/css">

body {
	background-color: #F4F4F4;
}

p, div {
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

.left-info-border {
	border-left-style: solid;
	border-width: 2px;
	padding-left: 10px;
	border-color: #660000;
}

.overeverything {
	z-index: 20;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	padding: 10px;
	background-color: #2E2E2E;
	width: 100%;
}

.fix-side-bar {
	position: fixed;
}



.recent-activity {
	text-align: center;
	color: white;
	font-size: 20px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.avatar-border {
	border-style: solid;
	border-width: 1px;
	padding: 0px;
	padding: 3px;
	width: 160px;
	background-color: lightgray;
	border-color: darkgray;
}

@media only screen and (max-width: 1199px) {
.overeverything {
        display: none;
}

}

.audio-around {
	border-style: solid;
	border-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	height: 125px;
	background-color:#7DBEBE;
	background-size: 100% 100%;
	border-radius: 5px;
	border-color:#7DBEBE;
}

.audio-widget {
	width: 100%;
	background-color: black;
	border-radius: 2px;
}

.song-content {
	padding-left: 20px;
	color: #F7F7F7;
}

.follow-btn {
	margin-right: 75px;
	float: right;
}

.stats {
	font-size: 17px;
}

.follower-name {
	font-size: 20px;

}

.top-btns {
	margin-top: -20px;
	margin-left: 475px;
	float: left;
}

.top-btns-2nd {
	margin-top: -20px;
	margin-left: 415px;
	float: left;
}

.top-btns-middle {
	margin-top: -20px;
	margin-left: 465px;
	float: left;
}



a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

a:hover {
	text-decoration: none;
	color: black;
}



</style>

<script>

$("audio").on("play", function(){
    var _this = $(this);
    $("audio").each(function(i,el){
        if(!$(el).is(_this))
            $(el).get(0).pause();
    });
});


$(document).on('ready', function() {
$("audio").on("play", function(){
    var _this = $(this);
    $("audio").each(function(i,el){
        if(!$(el).is(_this))
            $(el).get(0).pause();
    });
});

var fixmeTop = $('.overeverything').offset().top;       // get initial position of the element

$(window).scroll(function() {                  // assign scroll event listener
	
    var currentScroll = $(window).scrollTop(); // get current position

    if (currentScroll >= fixmeTop - 50) {           // apply position: fixed if you
        $('.overeverything').css({                      // scroll to that element or below it
            position: 'fixed',
            top: '6%',
            width: '25.3%'
        });
    } else {                                   // apply position: static
        $('.overeverything').css({                      // if you scroll above it
            position: 'static',
            width: '100%'
        });
    }

});

});

// This is here twice because in the rails app, switching from one page 
// to another doesn't execute the document ready properly...
</script>




<body>
	<div class="container">
<!-- DYNAMIC PROFILE -->
		<div class="row">
			<div class="col-lg-2">	
				<div class="avatar-border">	
					
					<%= image_tag @user.avatar_url, :width => '150', :height => '150' %>
					
				</div>

			</div> <!-- col-lg-2 -->

			<div class="col-lg-6">

				<div class="row">

				<div class="col-sm-8">
					<div class="left-info-border">
					<h3><%= @user.first_name %> <%= @user.last_name %></h3>

					<h5><i class="fa fa-bullseye"></i> <%= @zipcode[:city] %>, <%= @zipcode[:state_code] %></h5>
					</div> <!-- left-info-border -->

					<section class="stats">
	      			<%= render 'layouts/stats' %>
	   				</section>

					<i class="fa fa-heart-o fav-genre-up"></i><a href="#"><span>  Favorite genre</span></a><br>

					<i class="fa fa-tags"></i> <span>Total Tags | <%= @randtags %></span>
					<% if current_user.id != @user.id %>
					<%= render 'follow_form' if current_user %>
					<% end %>
					<div class="top-btns">
					<%= link_to 'Playlists', root_path %>
					</div> <!-- top-btns -->
					<div class="top-btns-middle">
					<span>|</span>
					</div> <!-- top-btns -->
					<div class="top-btns-2nd">
					<%= link_to 'Likes', root_path %>
					</div> <!-- top-btns -->
				</div> <!-- col-sm-8 -->
			</div>	
			<hr style="border-color: darkgray; width: 135%; margin-left: -35%;">
			</div> <!-- col-lg-6 -->


			
		</div> <!-- row -->

				<!-- =========== FIXED SIDE BAR =========== -->


		<div class="row">
			<div class="col-sm-8">
					<% @tracks.each do |x| %>
					<div class="audio-around box-shadow--2dp">
					<audio controls class="audio-widget">
					  <source src="<%= x.track %>" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio>

					<div class="song-content">

					<h4 style="color: #F7F7F7; font-family: helvetica;"><%= x.title %></h4>
					<h6 style="color: #F7F7F7; font-family: helvetica;"><em><%= x.description %></em></h6>

					</div><!-- song content -->
					</div><!-- audio-around -->
					<br><br>
					<% end %>
			</div> <!-- col-sm-8 -->

				<!-- =========== FIXED SIDE BAR =========== -->
			<div class="col-sm-4">
				<div class="overeverything box-shadow--4dp">
					<h3 class="recent-activity">Recent Activity</h3>
					<hr style="width: 100%; border-color: darkgray;">
					
				</div> <!-- over everything -->
			</div> <!-- col-lg-3 -->
				
		</div> <!-- row -->
	</div> <!-- container -->

	<!-- FOLLOWERS MODAL -->

	<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Followers</b></h4>
      </div>
      <div class="modal-body js-followers-modal">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<!-- FOLLOWERS MODAL -->


	<div id="following-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Followers</b></h4>
      </div>
      <div class="modal-body js-following-modal">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- FOLLOWING MODAL -->



</body>
</html>