<html>
<head>

</head>

<style type="text/css">
a {
  color: black;
 
  text-decoration: none;
  letter-spacing: 0.1em;
  position: relative;
}

a:hover {
	text-decoration: none;
	color: black;
}


a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}
</style>



<body>
	<div class="container main-container">
<!-- DYNAMIC PROFILE -->
		<div class="row first-row">
			<div class="col-lg-2">	
				<div class="avatar-border box-shadow--2dp" data-user-id="<%= @user.id %>">	
					

					
					

				</div>

			</div> <!-- col-lg-2 -->

			<div class="col-lg-6">

				<div class="row">

				<div class="col-sm-8">
					<div class="left-info-border">
						<% if @user.soundcloud_user_id.nil? %>
					<h3><%= @user.first_name %> <%= @user.last_name %></h3>
						<% else %>
					<h3><%= @user.username %></h3>
						<% end %>


					<% if @user.zipcode %>
					<h5><i class="fa fa-bullseye"></i> <%= @zipcode[:city] %>, <%= @zipcode[:state_code] %></h5>
					<% end %>
					</div> <!-- left-info-border -->

					<section class="stats">
	      			<%= render 'layouts/stats' %>
	   				</section>

					<i class="fa fa-heart-o fav-genre-up"></i><a href="#"><span>  Favorite genre</span></a><br>

					<i class="fa fa-tags"></i> <span>Total Tags | <%= @user.user_tags.length %></span>
					<% if current_user %>
					<% if current_user.id != @user.id %>
					<%= render 'follow_form' if current_user %>
					<% end %>
					<% end %>
					<div class="top-btns">
					<%= link_to 'Playlists', user_playlists_path(@user) %>
					</div> <!-- top-btns -->
					<div class="top-btns-middle">
					<span>|</span>
					</div> <!-- top-btns -->
					<div class="top-btns-2nd">
					<a href="#" class="js-show-likes" data-user-id="<%= @user.id %>">Likes</a>
					</div> <!-- top-btns -->
				</div> <!-- col-sm-8 -->
			</div>	
			<hr style="border-color: darkgray; width: 135%; margin-left: -35%;">
			</div> <!-- col-lg-6 -->


			
		</div> <!-- row -->



		<div class="row">
			<div class="js-likes-title">

			</div>

			<div class="col-sm-8 gonna-put-it-on-top-append">

			</div>

			<div class="col-sm-8 gonna-put-it-on-top">
					
				<%= render 'users/tracks' %> <!-- USERS PROFILE TRACKS -->

			</div> <!-- col-sm-8 -->






				<!-- =========== FIXED SIDE BAR =========== -->
			<div class="col-sm-4">
				<div class="overeverything box-shadow--16dp">
					<h3 class="recent-activity"><% if @user.soundcloud_user_id %><%= @user.username %><% else %><%= @user.first_name %><% end %>'s Recent Activity</h3>
					<hr style="width: 100%; border-color: darkgray;">

					<% @tracks.order("id DESC").first(3).each do |x| %>
					<h4><%= link_to x.title, user_track_path(@user.id, x.id) %></h4>
					<hr style="border-color: gray">

				
					<% end %>
					
				</div> <!-- over everything -->
			</div> <!-- col-lg-4 -->
				<!-- =========== FIXED SIDE BAR =========== -->

		</div> <!-- row -->
	</div> <!-- container -->

	<!-- FOLLOWERS MODAL -->

	<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Followers</b></h4>
      </div>
      <div class="modal-body js-followers-modal">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<!-- FOLLOWERS MODAL -->


	<div id="following-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Followers</b></h4>
      </div>
      <div class="modal-body js-following-modal">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- FOLLOWING MODAL -->

<div id="tag-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Add a Tag</b></h4>
      </div>



      <div class="modal-body js-tag-modal">
        
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- TAG MODAL -->



</body>
</html>