<html>


<style type="text/css">
a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  position: relative;
}

a:hover {
	text-decoration: none;
	color: black;
}


a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -3px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: ; 
}
</style>

<!-- ============ IF NO ONE IS SIGNED IN ===========-->


<% if current_user == nil %>

<body class="not-signed-in-body">
	<div class="container not-signed-in-body">
		<div class="row">
			<div class="col-sm-6">
				<span class="first-half">Aim</span><span class="second-half">uzer</span>
				<br>
					<span style="color: black;">Let's Discover, Together</span>
						
			</div> <!-- col-lg-6 -->

			<div class="col-sm-6">
						<div class="first-buttons">
						<%= link_to 'Register', new_user_registration_path %>

						<%= link_to 'Sign In', new_user_session_path, :style => 'margin-left: 25px; width: 90px;' %>
						</div> <!-- first buttons -->
			</div> <!-- col-sm-6 -->

		</div> <!-- row -->
						<hr style="border-color: #3B5998;">
<!-- ======== Top portion with log buttons and header =========-->

	</div><!-- container not sign in body -->	

</body>

<!-- ============ IF NO ONE IS SIGNED IN ===========-->







<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->






<!-- ============ IF SOMEONE IS SIGNED IN ===========-->

<% else %>



<body class="signed-in-body">

	<div class="container">
		<div class="row">
			 <div class="col-sm-12">
					<span class="first-half">Aim</span><span class="second-half">uzer</span>
					<br>
						<span style="color: black;">Let's Discover, Together</span>
						<span style="margin-left: 39%; font-size: 25px;">Music Stream</span>
				</div> <!-- col-lg-4 -->

			<div class="col-sm-4">

			</div>

			
			
		</div> <!-- row -->
			<hr style="border-color: #3B5998; margin-left: 0%; width: 65.7%;">
		<div class="row">
			<div class="col-sm-8 content-background">
				
				<% current_user.following.each do |x| %>
					<% x.tracks.each do |x| %>
					<div class="audio-around box-shadow--6dp">
					<audio controls class="audio-widget" preload="metadata">
					  <source src="<%= x.track.url %>" type="audio/mpeg">
					Your browser does not support the audio element.
					</audio>

					<div class="song-content">
					<span style="font-size: 20px; padding-right: 10px;"> <%= x.title %></span>
					<em><%= x.artist %></em>
					
					</div><!-- song content -->
					</div><!-- audio-around -->
					<br><br>
					
					<% end %>
				<% end %>
				</div>

				<!-- =========== FIXED SIDE BAR =========== -->

			
				<div class="col-sm-4">
				<!-- =========== FIXED SIDE BAR =========== -->

			
				<div class="overeverything box-shadow--4dp" id="recent-activity-fix">
					<h3 class="recent-activity">Track Details</h3>
					<hr style="width: 100%; border-color: darkgray;">

					<% current_user.following.each do |x| %>
						<% x.tracks.order('created_at DESC').first(3).each do |x| %>
						<% @user = User.find_by(id: x.user_id) %>
						<%= link_to x.title, track_path(x.id), :style => 'font-size: 20px;' %>
						
						<h5><%= x.artist %></h5>
						<p class="text-right">Uploaded by: <% if @user.username %><%= @user.username %><% else %><%= @user.first_name %><% end %></p>
						<hr>
						<br>
						<% end %>
						
						<% end %>
					
				</div> <!-- over everything -->
			

				<!-- =========== FIXED SIDE BAR =========== -->
		
			</div> <!-- col-sm-4 -->

				<!-- =========== FIXED SIDE BAR =========== -->



		</div> <!-- row -->


	</div> <!-- container -->
</body>

<% end %>

<!-- ============ IF SOMEONE IS SIGNED IN ===========-->

</html>








